# IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Build files
target/
build/
out/
bin/

# Logs
*.log
logs/
debug.log

# Temporary Files
*.tmp
*.swp
*.bak

# Reports
allure-results/
allure-report/
cucumber-html-reports/
test-output/

# Sensitive Data
*.env
config.properties

# Dependency Managers
node_modules/
__pycache__/
*.pyc

# System files
.DS_Store
Thumbs.db
desktop.ini
